{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.nom) }}
        </div>
         <div class="col">
            {{ form_row(form.sousthemeParent) }}
        </div>
    </div>
     <div class="row">
        <div class="col">
           {{ form_row(form.duree) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
           {{ form_row(form.description) }}
        </div>
    </div>


    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}







