<!DOCTYPE html>

{% block title %}Theme index{% endblock %}

{% block body %}
<div class="w-75 m-auto mt-5">
    <h1>Theme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ID_theme</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.IDTheme }}</td>
                <td>{{ theme.nom }}</td>
                <td>{{ theme.description }}</td>
                <td>
                    <a href="{{ path('app_theme_show', {'id': theme.id}) }}">show</a>
                    <a href="{{ path('app_theme_edit', {'id': theme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_theme_new') }}">Create new</a>
</div>    
{% endblock %}
