{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}
    <h1>Theme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ theme.id }}</td>
            </tr>
            <tr>
                <th>ID_theme</th>
                <td>{{ theme.IDTheme }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ theme.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ theme.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_theme_index') }}">back to list</a>

    <a href="{{ path('app_theme_edit', {'id': theme.id}) }}">edit</a>

    {{ include('theme/_delete_form.html.twig') }}
{% endblock %}
