<!DOCTYPE html>

<<<<<<< HEAD
{% block title %}SousTheme index{% endblock %}
=======
<title>SousTheme index</title>
>>>>>>> 0a4f66fcd1727f58be6797457efa227fc918a899

{% block body %}
    <h1>SousTheme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ID_soustheme</th>
                <th>Nom</th>
                <th>Id_theme_parent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_theme in sous_themes %}
            <tr>
                <td>{{ sous_theme.id }}</td>
                <td>{{ sous_theme.IDSoustheme }}</td>
                <td>{{ sous_theme.nom }}</td>
                <td>{{ sous_theme.idThemeParent }}</td>
                <td>
                    <a href="{{ path('app_sous_theme_show', {'id': sous_theme.id}) }}">show</a>
                    <a href="{{ path('app_sous_theme_edit', {'id': sous_theme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sous_theme_new') }}">Create new</a>
{% endblock %}
